body {
    margin: 0;
    padding: 0;
    width: 100%;
    /*background-image: url('forestbg.webp');*/
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5em;
    margin-bottom: -5em;
    width: 50%;
  }

h3{
    text-align: center;
}

div.container {
    text-align: center;
  }

.yellow-text {
    color: yellow;
}

.red-text {
    color: red;
}

  
  ul.myUL {
    display: inline-block;
    text-align: left;
  }

  .audio-div {
    width: 100%;
    display: flex;  
    justify-content: center;
  }

  .link{
    text-align: center;
  }

