body {
    margin: 0;
    padding: 0;
    background-image: url('images/grasstexture.png');
    background-repeat: repeat;
    background-size: 20rem 20rem;
}

.logo {
    width: 10rem;
    height: 10rem;
    margin: 1rem 0;
}

.image-with-border {
    border: 5px solid red;
    
}

header {
    display: flex;
    align-items : center;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0;
}

h1, h2, h3 {
    color: gold;
}

a {
    color: red;
}

a:visited {
    color: orange;
}

p {
    color: gold;
    font-size: 1.5rem;
}

.doodle {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.animals-list {
    display: flex;
    flex-direction: row;
}

.animal-img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
}

.about-title{
    text-align: center;
}

.mission-statement{
    text-align: center;
}

.help-button {
    font-size: 20px;
    padding: 10px 20px;
}

.about-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}